<!-- Find a Tour -->
	<section class="tour section-wrapper container">
		<h2 class="section-title">
			Where would you like to go?
		</h2>
		<p class="section-subtitle">
			Select departure airport, arrival airport and date!
		</p>
	




    <!-- Form for departure airport, arrival airport, date, submission button -->
    <div class="row">
    <%= form_tag flights_path, method: :GET do %>

    <div class="col-md-3 col-sm-6">
    <%= label_tag(:departure, "Departure Airport") %>
    <%= select_tag(:departure, options_for_select(@departures), {:class => 'form-control border-radius form-dropdown form-group', :id => "sel1"}) %>
	</div>

    <div class="col-md-3 col-sm-6">
    <%= label_tag(:arrival, "Arrival Airport") %>
    <%= select_tag(:arrival, options_for_select(@arrivals), {:class => 'form-control border-radius form-dropdown form-group', :id => "sel1"}) %>
    </div>
    
    <div class="col-md-3 col-sm-6">
    <%= label_tag(:departure_time, "Date:") %>
    <%= select_tag(:departure_time, options_for_select(@dates), {:class => 'form-control border-radius form-dropdown form-group', :id => "sel1"}) %>
    </div>
    
    <div class="col-md-3 col-sm-6">
    <%= submit_tag "Search", {:class => 'btn btn-default border-radius custom-button'} %>
    </div>
    <% end %>

    </div>
    
    </section>
    <!-- /Form for departure airport, arrival airport, date, submission button -->

	<section class="tour section-wrapper container">
	
		<h2 class="section-title">
			Pick your flight!
		</h2>

<table>
    <tbody>
        <%= form_tag new_booking_path, method: :GET do %>
            <% @flights.order("departure_time").each do |f| %>
                <tr>
                    <td><div class="col-md-3 col-sm-6"><span class="input-group-addon border-radius custom-addon"><%= f.flight_number  %> - <%= f.departure_time %></span></div></td>
                    <td>
                        <%= hidden_field_tag(:selected, f.id) %>
                        <%= submit_tag "Book the flight", {:class => 'btn btn-default border-radius custom-button'} %>
                    </td>
                </tr>
            <% end %>
        <% end %>        
    </tbody>    
</table>
</section>


    

    
