<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  
  <link rel="stylesheet" href="/assets/ionicons.min.css">
	<link rel="stylesheet" href="/assets/owl.carousel.css">
	<link rel="stylesheet" href="/assets/owl.theme.css">
	<link rel="stylesheet" href="/assets/flexslider.css" type="text/css">
  <link rel="stylesheet" href="/assets/main.css">
  
</head>
<body>

<%= render "layouts/header" %>
	
<%= yield %>
		
<%= render "layouts/footer" %>

</body>
</html>
